body {
    font-family: Roboto;
}

.conteiner{
    width: 1366px;
    height: 768px;
    margin: auto;
    background-image: url("../img/background.png");
}

a{
    text-decoration: none;
}

.link-box{
    display: flex;
    padding-top: 51px;
    padding-left: 161px;
    align-items: flex-end;
}


.link-title{
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    font-weight: 700;
}

.link-title:hover .title-text{
    color: #F26522;
}

.link-title:hover .title-photo{
    background-image: url("../img/logoorange.png");
}

.title-photo{
    background-image: url("../img/logowhite.png");
    width: 53px;
    height: 47px;
}

.title-text{
    display: flex;
    flex-direction: column;
    margin-bottom: -3px;
    padding-left: 8px;
}

.title-text h2{
    font-size: 29px;
    line-height: 29px;
    
}

.title-text-hol{
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.contacts-title{
    padding-left: 658px;
    display: flex;
    flex-direction: column;
    margin-bottom: -3px;
    text-align: right;
}
.contacts-title-phone{
    padding-top: 19px;
}
.contacts-title-email:hover{
    color: #F26522;
}

.contacts-title-phone:hover{
    color: #F26522;
}

.contacts-title a{
font-family: Roboto;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}

.content-box{
    display: flex;
    margin-left: 165px;
    padding-top: 22px;
}

.content-box-center{
    padding-left: 61px;
}

.content-box-right{
    padding-left: 62px;
}

.content-box h3{
font-family: Roboto;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
text-align: center;
padding-top: 20px;
padding-bottom: 37px;
}

.content-box-photo-shopping{
    position: relative;
    
}

.content-box-section-hover-shopping{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #F26522;
    top: 165px;
    display: none;
}

a:hover .content-box-section-hover-shopping{
    display: block;
}

a:hover h3{
    color: #F26522;
}

.content-box-photo-bars{
    position: relative;
    
}

.content-box-section-hover-bars{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #F26522;
    top: 165px;
    display: none;
}

a:hover .content-box-section-hover-bars{
    display: block;
}

.content-box-photo-sightseeing{
    position: relative;
    
}

.content-box-section-hover-sightseeing{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #F26522;
    top: 165px;
    display: none;
}

a:hover .content-box-section-hover-sightseeing{
    display: block;
}

.content-box-photo-art{
    position: relative;
    
}

.content-box-section-hover-art{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #F26522;
    top: 165px;
    display: none;
}

a:hover .content-box-section-hover-art{
    display: block;
}

.content-box-photo-food{
    position: relative;
    
}

.content-box-section-hover-food{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #F26522;
    top: 165px;
    display: none;
}

a:hover .content-box-section-hover-food{
    display: block;
}

.content-box-photo-walking{
    position: relative;
    
}

.content-box-section-hover-walking{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #F26522;
    top: 165px;
    display: none;
}

a:hover .content-box-section-hover-walking{
    display: block;
}

.content-box-title{
padding-top: 7px;
padding-left: 16px;
font-family: Roboto;
font-size: 10px;
line-height: 10px;
align-items: center;
color: #FFFFFF;
margin-bottom: 8px;
}

.content-box-title-price{
font-family: Roboto;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
padding-left: 16px;
display: inline;
}

.content-box-title-view-details{
width: 78px;
height: 14px;
font-family: Roboto;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
display: inline;
padding-left: 128px;
margin-right: 0;
padding-right: 0;
}

.content-box-title-arrow:after{
    content: url("../img/Vector.png");
    width: 5px;
    height: 10px;
    padding-left: 16px;
    padding-top: 31px;
}


.content-box-art h3{
    padding-bottom: 49px;
}

footer p{
    font-family: Roboto;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    color: #FFFFFF;
    padding-left: 530px;
    }
    